<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>We have a new order!</h2>
    <p>
      Name<br />
      <%= @order.name %>
    </p>
    <p>
      Date<br />
      <%= @order.order_at %>
    </p>
    <p>
      Service Type<br />
      <%= service_string(@order.service_type) %>
    </p>
    <p>
      Address<br />
      <%= @order.address %>
    </p>
    <p>
      Date<br />
      <%= @order.tel %>
    </p>
  </body>
</html>