<div class="result_greeting">
	죄송합니다. 현재 서비스 점검 중으로, 예약시스템이 동작하지 않습니다. 빠른 시일 내에 다시 찾아뵙도록 하겠습니다.
	<hr />
	<p>서비스 가능한 다른 업체들을 입니다.</p>
	<a href="http://www.tjhomecare.co.kr/front/home/main.asp">더조은가사도우미</a><br />
	<a href="http://www.ganapachul.com/gnu4/">가나파출부</a
	>
<!-- 		<span class="result_element"><%= @data['name'] %></span>님께서 주문하신 내역입니다.
</div>
<div class="result_schedule">
		<span class="result_element"><%= @data['order_at'] %></span> 날짜에
		<span class="result_element"><%= service_time_string(@data['service_type'].to_i) %></span> 청소를 신청하셨습니다.
</div>
<div class="result_address">
		위 날짜에 도우미가 <span class="result_element"><%= @data['address'] %></span>을 방문해 청소를 진행합니다.
</div>
<div class="result_contact">
		앞으로 <span class="result_element"><%= @data['tel'] %></span>로 연락드리겠습니다. -->
</div>