<% title "감사합니다" %>
<div class="row">
	<div class="large-12 columns">
		<div id="thankyou">
			<h2 class="form_title">감사합니다</h2>
			<h3 class="form_subtitle">1시간 이내로 예약확인 전화가 갈 것 입니다</h3>
			<hr />
			<h3 class="form_subtitle">신청내역</h3>
			<div class="row">
				<div class="large-6 columns title">
					도우미 방문 날짜
				</div>
				<div class="large-6 columns value">
					<%= @data['date'] %>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns title">
					서비스 종류
				</div>
				<div class="large-6 columns value">
					<%= service_string(@data['service'].to_i) %>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns title">
					신청자 이름
				</div>
				<div class="large-6 columns value">
					<%= @data['name'] %>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns title">
					신청지 주소
				</div>
				<div class="large-6 columns value">
					<%= @data['address'] %>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns title">
					신청자 연락처
				</div>
				<div class="large-6 columns value">
					<%= @data['tel'] %>
				</div>
			</div>
		</div>
	</div>
</div>